@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

:root{
 --Gray:#514F4F;  
--pink:#F89CAB;
--YOUSUF:#B8374C;
--LIGHTORANGE:#f9ece6;
--LIGHTGRAY:#f8f7f6;
--PURPLE:#3f1a5b;
--LIGHTBLUE:#7fd7eb;
--blue:#109dbd;
--RED:#b7374c;
--lightgray:#ededed;
}

body{
    font-family: "Poppins", sans-serif;
}

header{
    width: 94%;  
    margin: 0 auto;
}

.subtitle-header{

}

h2{
    text-align: center;
    text-transform: capitalize;
    padding: 0 20px;
    
}


.bars{
    display: none !important;
    width: 30px;
}

.menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--LIGHTORANGE);
    gap: 10px;
    padding: 10px;
    border-radius: 14px 14px 0 0;
}

.menu li{


}

.icon-container{
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon-container span{
    text-transform: capitalize;
}

.menu li a{
    text-decoration: none;
    color: var(--Gray-color);
    font-size: 16px;
    text-transform:uppercase ;
    padding: 8px 20px;
    border-radius: 5px;
    transition: 0.3s;
    
}

a.active{
    background-color: white;
}

.menu li a:hover{
    background:rgb(255, 255, 255);


}






.main{
    width: 94%;
    margin: 0 auto;
    background: var(--pink);
    padding: 100px 40px;
    display: flex;
    gap: 100px;
    text-transform: capitalize;
    margin-bottom: 40px;
    border-radius: 0 0 14px 14px; 
}

.text-div{
    color: white;
    margin: 0 20px 0px;
    width: 50%;
}

.text-div h1{
    font-size: 60px;
    margin-bottom: 50px;
    text-transform: capitalize;
}

.text-div .c-u{
    background-color: var(--RED);
    color: #FFFF;
    border-radius: 12px;
    padding: 15px 50px;
    margin-top: 30px;
    border: none;
    font-size: 20px;
}

p{
    
}

.img-div{
    width: 50%; 
}

.img-div img{
    width: 400px;
}

.store{
    width: 94%;
    margin: auto;
}

.title{
    margin-bottom: 50px;
}

.shopping-div{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.products{
    width: 94%;
    margin: auto;
}


.part{
    display: flex;
    align-items: center;
    gap: 30px;  
    justify-content: center; 
}


.product{
    background-color: var(--lightgray);
    padding: 20px 10px;
    max-width: 250px;
    text-align: center;
}

.product-status{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-img{
    width: 70%;
    margin: auto;
}

.product-name{

}

.price-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product_price{

}


.vap-btn{
    border-radius:5px;
    padding: 12px 32px;
    background: var(--RED);
    color: white;
    margin-bottom: 10px;
    border: var(--RED) solid 2px; 
    transition: 0.3s;
}

.vap-btn:hover{
    background: white;
    color: var(--RED);
    border: var(--RED) solid 2px; 
}

.latest-products{
    background-color: var(--LIGHTBLUE);
    width: 84%;
    margin: 25px auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    text-align: center;
}

.latest-title{
    margin: 0px 30px 0;
    font-size: 30px;
    text-transform: uppercase;

}

.buy{
    background-color: var(--blue);
    color: #FFFF;
    padding: 15px 50px;
    margin-top: 30px;
    border: none;
    font-size: 20px;
}

.see{
    color: black;
    padding: 15px 50px;
    margin-top: 30px;
    border: none;
    font-size: 20px;
}

.shopping-reason{
    margin: auto;
    margin-top:80px;
    width: 94%;
}

.shopping-reason h2{
    margin-bottom: 40px;
    font-size: 30px;
    text-transform: uppercase;
}

.benifits{
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: center;

}

.benifit{
    padding: 50px;
    background-color: var(--LIGHTGRAY);
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 12px;
}

.benifit h4{
    font-size: 20px;
    margin-bottom: 16px;
}


.benifit i{
    font-size: 40px;
    color:purple;
    margin-bottom: 16px;
}

.benifit p{
    color: var(--Gray);
}

@media (max-width:768px) {
    
    .subtitle-header{
        display: flex; 
        align-items:center;
        justify-content:space-between;
    }
    
    .main{
        flex-direction: column;
    }

    .text-div{
        width: 100%;
    }

    .text-div h1{
        font-size: 30px;
    }

    .img-div img{
        width: 80%;
    }

    .bars{
        display: initial !important;
    }

    .menu{
        flex-direction: column;
        display: none;
    }
    
    .show{
        display: flex;  
    }

    .part{
        flex-direction: column;
    }

    .latest-products{
        flex-direction: column-reverse;
    }

    .benifits{
        flex-direction: column;
    }
    
}